/* All */
* {
  box-sizing: border-box;
}

/* HTML */

html {
  scroll-behavior: smooth;
}

/* Body */

body {
  background-color: #f7f7f9;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 338px;
}

/* Nav-bar */

header {
  height: 48px;
  display: flex;
  background-color: #fff;
  padding: 14px 24px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 8px 16px rgba(230, 232, 247, 0.1);
  z-index: 1;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

button {
  background: none;
  border: none;
}

ul {
  padding: 0;
  list-style: none;
}

header ul {
  display: none;
}

header li {
  display: inline-block;
  margin-right: 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

header li a {
  text-decoration: none;
  color: #344563;
}

.last {
  margin-right: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.menu {
  height: 100vh;
  background-color: rgba(80, 93, 214, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  padding-left: 28px;
}

#cross {
  float: right;
  margin-right: 38px;
  margin-top: 62px;
  color: #fff;
}

.menu ul {
  margin-top: 106px;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

/* Intro Section */

.intro-section {
  background-image: url('../images/mobile-intro.jpg');
  background-size: cover;
  border-bottom-left-radius: 100px;
  padding: 114px 24px;
  height: 100vh;
  margin-top: 48px;
}

.intro-h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-weight: 500;
  color: #7f8cff;
}

.intro-section li {
  display: inline-block;
  margin-right: 15px;
}

.intro-content {
  animation: fadeIn 2s;
  animation-delay: 0.7s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

/* Projects Section */

.projects-section {
  display: grid;
  grid-template-rows: 1fr 1.05fr 1fr 1.05fr;
  gap: 88px;
  padding: 114px 24px;
}

.project {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px 16px 30px 16px;
  display: grid;
  grid-template-rows: 220px 288px;
}

#project-img1 {
  background-image: url('../images/project-1.png');
  background-size: 100% 100%;
}

#project-img2 {
  background-image: url('../images/project-2.png');
  background-size: 100% 100%;
}

#project-img3 {
  background-image: url('../images/project-3.png');
  background-size: 100% 100%;
}

#project-img4 {
  background-image: url('../images/project-4.png');
  background-size: 100% 100%;
}

.project h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0;
  margin-top: 12px;
}

.project-type {
  display: flex;
  align-items: center;
}

.project-type > h3,
.project-type > img,
.project-type > h4 {
  margin-right: 12px;
}

.text-font {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project-type h3 {
  color: #344563;
}

.project h4 {
  color: #7a869a;
}

.project p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.project ul {
  margin-bottom: 35px;
}

.project li {
  display: inline-block;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-right: 8px;
}

.pro-res {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
}

.pro-res:hover {
  background-color: #6070ff;
  color: #fff;
}

.pro-res:active {
  background-color: #2230d2;
  color: #fff;
}

.pro-res[disabled] {
  border: 1px solid #c1c7d0;
  background: none;
  color: #5e6c84;
}

.hov-img {
  transition: all 0.5s;
}

.hov-img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* About Section */

.about-section {
  background-color: #fff;
  padding: 114px 24px;
  padding-bottom: 80px;
  border-top-right-radius: 90px;
  display: grid;
}

.about {
  margin-bottom: 30px;
}

.about li {
  display: inline-block;
  margin-right: 18px;
}

.about-connect {
  margin-bottom: 25px;
}

.about ul {
  padding-left: 12px;
  margin-bottom: 28px;
}

.about-tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.about-tab p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.about-tab img {
  margin-right: 30px;
}

.skills {
  padding: 0 15px;
}

.tech-container {
  margin-bottom: 20px;
}

.tech {
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  margin-bottom: 12px;
  padding: 10px 12px;
}

.tech p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.bor-bot {
  border-bottom: 1.5px solid #dfe1e6;
}

/* Footer */

footer {
  background-color: #fff;
}

.footer-content {
  position: relative;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  padding: 60px 30px 45px 30px;
}

.footer-content h2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.footer-content p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.footer-content img {
  position: absolute;
  right: 0;
  top: 10px;
  width: 220px;
  height: 747px;
}

form {
  margin-top: 50px;
}

input[type='text'],
input[type='email'] {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

textarea {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-style: normal;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  padding: 15px 16px;
}

input[type='submit'] {
  background: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  color: #6070ff;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  border: none;
  margin-top: 22px;
  line-height: 24px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #4753c2;
  color: #fff;
}

input[type='submit']:active {
  background-color: #2230d2;
  color: #fff;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  header {
    padding: 25px 12%;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }

  header button {
    display: none;
  }

  header ul {
    display: block;
  }

  .intro-section {
    background-color: #fff;
    background-image: url('../images/desktop-intro.png');
    background-size: 96% 85%;
    background-repeat: no-repeat;
    background-position: 45px 20px;
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-content {
    width: 62%;
  }

  .projects-section {
    grid-template-rows: 496px 496px 496px 496px;
    gap: 142px;
    padding: 142px;
  }

  .project {
    padding: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 46px;
  }

  #project-img1 {
    background-image: url('../images/desktop-1.png');
  }

  #project-img2 {
    background-image: url('../images/desktop-2.png');
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #project-img3 {
    background-image: url('../images/desktop-3.png');
  }

  #project-img4 {
    background-image: url('../images/desktop-4.png');
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project-type {
    margin-bottom: 10px;
  }

  .project p {
    margin-bottom: 25px;
  }

  .project ul {
    margin-bottom: 50px;
  }

  .about-section {
    padding: 142px;
    grid-template-columns: 40% 60%;
    gap: 35px;
  }

  .skills {
    margin-top: 15px;
  }

  .tech-container {
    display: flex;
    margin-bottom: 0;
  }

  .tech {
    flex-direction: column;
    margin-right: 12px;
    width: 122px;
    height: 120px;
    padding: 12px 12px 20px 12px;
  }

  .tech img {
    width: 48px;
    height: 48px;
  }

  .tech p {
    margin-left: 0;
  }

  .footer-content {
    padding: 135px 34.5%;
    background-image: url('../images/desktop-footer.png');
    background-size: 90% 85%;
    background-position: center;
    background-repeat: no-repeat;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    border-radius: 0;
  }

  input[type='submit'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content img {
    display: none;
  }
}

label {
  display: none;
}
